<div class="container">
   <h1>Stupid Coaching</h1>
   <form action="answer" class="d-flex column">
     <label for="answer">Ask your coach anything:</label>
     <div class="user-input">
       <input type="text" name="answer" class="insert">
       <input type="submit" value="Ask!" class="btn">
     </div>
   </form>
 </div>
